Package: com.joshuaseltzer.netflixsubtitlefix
Name: NetflixSubtitleFix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sets the subtitles on the Netflix iOS app to a fixed font percentage.  Confirmed working with Netflix 12.26.0.
Maintainer: Joshua Seltzer <joshua.seltzer90@gmail.com>
Author: Joshua Seltzer <joshua.seltzer90@gmail.com>
Section: Tweaks
